@font-face {
  font-family: "KumbhSans";
  src: url("font/KumbhSans-VariableFont_YOPQ\,wght.ttf");
}
:root {
  /*color primary*/
  --blue-600: hsl(185, 75%, 39%);
  --navy-950: hsl(229, 23%, 23%);
  --gray-500: hsl(227, 10%, 46%);

  /*color neutral*/
  --gray-100: hsl(225, 10%, 92%);

  /*font weights*/
  --fw-400: 400;
  --fw-700: 700;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KumbhSans";
  color: var(--navy-950);
}
body {
  background-image:
    url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-color: var(--blue-600);
  background-repeat: no-repeat, no-repeat;
  background-position:
    left -270px top -650px,
    right -200px top 400px;
  height: 100%;
  z-index: -100;
}
article {
  background-image: url("images/bg-pattern-card.svg");
  background-color: white;
  width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center 0;
  border-radius: 1.1em;
}
section.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--gray-100);
  padding: 6em 0 1em 0;
}
section.head img {
  border-radius: 50%;
  border: 5px solid white;
  width: 100px;
  height: auto;
  margin-top: -0.3em;
}
section.head h1 {
  font-size: 18px;
  padding: 0.9em 0 0.2em 0;
  & .age {
    font-weight: var(--fw-400);
    color: var(--gray-500);
    margin-left: 2.5px;
  }
}
section.head p {
  font-size: 0.875em;
  color: var(--gray-500);
}
section.foot {
  padding: 1.4em 0 1.5em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
section.foot div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  & .heavy {
    font-weight: var(--fw-700);
  }
  & .light {
    font-size: 0.7em;
    color: var(--gray-500);
    text-align: center;
  }
}
@media (max-width: 48em) {
  body {
    background-position:
      left -700px top -650px,
      right -700px top 300px;
  }
}
